<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188600940762-0a0nhht3bme4f7pv9rmbafno6l6uup62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188600940762-0a0nhht3bme4f7pv9rmbafno6l6uup62</string>
	<key>API_KEY</key>
	<string>AIzaSyD70nAfMkDJgJIESI0AQ8lA2L1K2Jh9T4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>188600940762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mu.ItemOrganizer</string>
	<key>PROJECT_ID</key>
	<string>itemorganizerdata</string>
	<key>STORAGE_BUCKET</key>
	<string>itemorganizerdata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188600940762:ios:d6aa12c7dc0e93229acde3</string>
</dict>
</plist>